<div class="tabs-list">
  <h2>Tabs</h2>
  <ul class="tabs primary">
    <li class="active"><a class="active" href="#">View</a></li>
    <li><a href="#">Edit</a></li>
    <li><a href="#">Results</a></li>
  </ul>
</div>


<div class="messages">
  <h2>Messages</h2>
  <div class="messages status">This is a status message.</div>
  <div class="messages warning">This is a warning message.</div>
  <div class="messages error">This is an error message.</div>
</div>

<div class="forms">
  <h2>Forms</h2>
  <form enctype="multipart/form-data" class="webform-client-form" method="post" action="#">

    <fieldset id="webform-component-contact_form" class="webform-component-fieldset">
      <legend>Example Webform</legend>

      <div class="webform-component-select">
        <div class="form-item">
          <label>Select Input:</label>
          <select class="form-select">
            <option selected="selected" value="">select... </option>
            <option value="Mr.">Mr.</option>
            <option value="Miss">Miss</option>
            <option value="Mrs.">Mrs.</option>
          </select>
        </div>
      </div>

      <div class="webform-component-textfield">
        <div class="form-item">
          <label>Text Input:</label>
          <input type="text" class="form-text" value="" size="60" maxlength="128"/>
        </div>
      </div>

      <div class="webform-component-textarea">
        <div class="form-item">
          <label>Textarea:</label>
          <div class="resizable-textarea">
            <span>
              <textarea class="form-textarea resizable textarea-processed" rows="5" cols="60"></textarea>
              <div class="grippie" style="margin-right: -8px;"></div>
            </span>
          </div>
        </div>
      </div>

      <div class="webform-component-select">
        <div class="form-item">
          <label>Checkbox:</label>
          <div class="form-checkboxes">
            <div class="form-item">
              <label class="option">
                <input value="Checked?" class="form-checkbox" type="checkbox"/>Checked?
              </label>
            </div>
          </div>
        </div>
      </div>

      <div class="webform-component-file">
        <div class="form-item">
          <label for="edit-file-upload">File Upload:</label>
          <input id="edit-file-upload" class="form-file" size="60" type="file"/>
        </div>
      </div>

      <div class="webform-component-select">
        <div class="form-item">
          <label>Radio Buttons:</label>
          <div class="form-radios">
            <div class="form-item">
              <label class="option">
                <input value="One" class="form-radio" type="radio"/>
                One
              </label>
            </div>
            <div class="form-item">
              <label class="option">
                <input value="Option two" class="form-radio" type="radio"/>
                Option two
              </label>
            </div>
            <div class="form-item">
              <label class="option">
                <input value="A third awesome option" class="form-radio" type="radio"/>
                A third awesome option
              </label>
            </div>
          </div>
        </div>
      </div>
    </fieldset>

    <input type="submit" class="form-submit" value="Submit"/>

  </form>
</div>
