<div class="headers">
  <h1>Header 1</h1>
  <h2>Header 2</h2>
  <h3>Header 3</h3>
  <h4>Header 4</h4>
  <h5>Header 5</h5>
  <h6>Header 6</h6>
</div>


<!-- Links -->
<div class="links">
  <h2>Links</h2>
  <p>
    <a href="#">Local link</a><br/>
    <a href="http://www.google.com" class="visited">Visited link</a><br/>
    <a href="http://www.google.com" class="external">External link</a><br/>
    <a href="https://www.google.com">External link with encrypted connection</a><br/>
    <a href="admin@test.com">E-mail link</a>
  </p>
</div>


<!-- Block Elements -->
<div class="block-elements">

  <h2>Block elements</h2>

  <h3>Block quote</h3>

  <blockquote cite="http://en.wikipedia.org/wiki/Blockquote">
    <p>The blockquote element is used to indicate the quotation of a bigger section of text from another source. Using
      the default HTML styling of most web browsers, it will indent the right and left margins both on the display and
      in printed form. <cite>Wikipedia, The Free Encyclopedia</cite></p>
  </blockquote>

  <h3>Preformated text</h3>
    <pre>


                    *     ,MMM8&&&.            *  // This is preformatted text
                      MMMM88&&&&&    .
                     MMMM88&&&&&&&
         *           MMM88&&&&&&&&
                     MMM88&&&&&&&&
                     'MMM88&&&&&&'
                       'MMM8&&&'      *
               /\/|_      __/\\
              /    -\    /-   ~\  .              '
              \    = Y =T_ =   /
               )==*(`     `) ~ \
              /     \     /     \
              |     |     ) ~   (
             /       \   /     ~ \
             \       /   \~     ~/
      jgs_/\_/\__  _/_/\_/\__~__/_/\_/\_/\_/\_/\_
      |  |  |  | ) ) |  |  | ((  |  |  |  |  |  |
      |  |  |  |( (  |  |  |  \\ |  |  |  |  |  |
      |  |  |  | )_) |  |  |  |))|  |  |  |  |  |
      |  |  |  |  |  |  |  |  (/ |  |  |  |  |  |
      |  |  |  |  |  |  |  |  |  |  |  |  |  |  |

    </pre>
</div>


<!-- Phrase Elements -->
<div class="phrase-elements">
  <h2>Phrase elements</h2>
  <h3>em</h3>
  <p>Element used to <em>put emphasis on certain information</em>. Most browsers display emphased text in italics by
    default.</p>
  <p>Sample: <em>This is emphasied text</em>.</p>
  <h3>strong</h3>
  <p>This element stands for "stronger emphasis" and is used for marking more important text.</p>
  <p>Sample: <strong>This is text with stronger emphasis</strong></p>
  <h3>cite</h3>
  <p>According to <cite>W3C specification</cite>, we use <code>cite</code> element to define source of a quotation or
    reference.</p>
  <p>Sample: <cite>This is quotation source</cite></p>
  <h3>dfn</h3>
  <p>Element used to markup inline definition of a single term.</p>
  <p>Sample: <dfn>This is definition</dfn></p>
  <h3>code</h3>
  <p>This element informs the browser that it contains a computer code, such as XHTML markup.</p>
  <p>Sample: <code>document.write("Hello world");</code></p>
  <h3>samp</h3>
  <p>Defines computer output data, for example we can use it to markup error messages</p>
  <p>Sample: <samp>Error: no such file or directory</samp></p>
  <h3>kbd</h3>
  <p>Means information that should be entered by the user.</p>
  <p>Sample: press <kbd>Alt + F4</kbd> to close this window. <kbd>ESC</kbd></p>
  <h3>var</h3>
  <p>Means variables used in computer programs or scripts.</p>
  <p>Sample: <var>counter</var></p>
  <h3>abbr</h3>
  <p>Abbreviation / a shortened form of a word or phrase</p>
  <p>Sample: <abbr title="doctor">dr</abbr></p>
  <h3>acronym</h3>
  <p>Acronym / a word formed from the initial letters of other words</p>
  <p>Sample acronyms: <acronym title="eXtensible HyperText Markup Language">XHTML</acronym></p>
  <h3>q</h3>
  <p>Inline quotation</p>
  <p>Sample: <q>This is sample quotation</q></p>
</div>


<!-- Lists -->
<div class="lists">

  <h2>Lists</h2>
  <h3>Unordered List</h3>
  <ul>
    <li>Apple</li>
    <li>Pear</li>
    <li>Banana</li>
    <li>Orange</li>
    <li>Carrot</li>
  </ul>

  <h3>Ordered List</h3>
  <ol>
    <li>First</li>
    <li>Second</li>
    <li>Third</li>
    <li>Fourth</li>
  </ol>

  <h3>Definition List</h3>
  <dl>
    <dt>Definition List Title</dt>
    <dd>This is a definition list division.</dd>
    <dt>Inkscape</dt>
    <dd>Open Source vector graphics editor</dd>
    <dt>SVG</dt>
    <dd>Scalable Vector Graphics</dd>
    <dd>W3C standard</dd>
    <dt>GIMP</dt>
    <dd>GNU Image Manipulation Program</dd>
    <dt>Drupal</dt>
    <dd>Content Management System</dd>
  </dl>

  <h3>Nested lists</h3>
  <ol>
    <li>one, two
      <ol>
        <li>buckle my shoe</li>
      </ol>
    </li>
    <li>three, four
      <ol>
        <li>knock at the door</li>
      </ol>
    </li>
    <li>Five, six
      <ol>
        <li>pick up sticks</li>
      </ol>
    </li>
    <li>Seven, eight, lay them straight
      <ol>
        <li>Nine, ten, a big fat hen</li>
        <li>Eleven, twelve, dig and delve</li>
        <li>Thirteen, fourteen, maids a'courting</li>
        <li>Fifteen, sixteen, maids in the kitchen</li>
        <li>Seventeen, eighteen, maids a'waiting</li>
        <li>Nineteen, twenty, my platter's empty ...</li>
      </ol>
    </li>
  </ol>
</div>


<!-- Paragraphs -->
<div class="paragraphs">
  <h2>Paragraphs</h2>
  <p>According to Wikipedia: a paragraph (from the Greek <a href="#">paragraphos</a>, "to write beside" or "written
    beside") is a self-contained unit of a discourse in writing dealing with a particular point or idea. The start of a
    paragraph is indicated by beginning on a new line. Sometimes the first line is indented; sometimes it is indented
    without beginning a new line.</p>
  <p>A paragraph typically consists of a unifying main point, thought, or idea accompanied by supporting details. The
    non-fiction paragraph usually begins with the general and moves towards the more specific so as to advance an
    argument or point of view. Each paragraph builds on what came before and lays the ground or run the length of
    multiple pages, and may consist of one or many sentences. When dialogue is being quoted in fiction, a new paragraph
    is used each time the person being quoted changed.</p>
  <p>In (X)HTML, the p element marks a block of text as a paragraph - the opening tag &lt;p&gt; marks the beginning of a
    paragraph, and the closing tag &lt;/p&gt; marks the end of a paragraph. The end tag is optional for legacy HTML as
    the browser automatically starts another paragraph at the next &lt;p&gt; tag, or the nextblock element.</p>
</div>


<!-- Tables -->
<div class="tables">
  <h2>Tables</h2>
  <table>
    <caption>Table title goes here</caption>
    <thead>
    <tr>
      <th>Mauris</th>
      <th>Tempor</th>
      <th>Praesent lacus nulla</th>
      <th>Quis</th>
    </tr>
    </thead>
    <tbody>
    <tr class="odd">
      <td>Mauris</td>
      <td>23.000</td>
      <td>Suspendisse viverra</td>
      <td>Yes</td>
    </tr>
    <tr class="even">
      <td>Trupis</td>
      <td>1.000</td>
      <td>Placerat tortor aesent semper</td>
      <td>No</td>
    </tr>
    <tr class="odd">
      <td>Sagittis</td>
      <td>122.000</td>
      <td>Neque vel condimentum</td>
      <td>No</td>
    </tr>
    <tr class="even">
      <td>Libero</td>
      <td>500</td>
      <td>Hendrerit, lectus elit pretium</td>
      <td>Yes</td>
    </tr>
    <tr class="odd">
      <td>Tristique</td>
      <td>100.000</td>
      <td>Ligula nec consequat</td>
      <td>Yes</td>
    </tr>
    <tr class="even">
      <td>Id Neque</td>
      <td>600.000</td>
      <td>Etiam sodales orci nec</td>
      <td>No</td>
    </tr>
    </tbody>
  </table>
</div>


<!-- Forms -->

<h3>Text field</h3>
<p>
  <label for="text-field">Text Field</label>
  <input type="text" id="text-field" value="" placeholder="This is a Text field">
</p>

<h5>Text field disabled</h5>
<p>
  <label for="text-field">Text Field</label>
  <input type="text" id="text-field" disabled value="" placeholder="This is a Text field">
</p>

<h5>Text field readonly</h5>
<p>
  <label for="text-field">Text Field</label>
  <input type="text" id="text-field" readonly value="This is the content" placeholder="This is a Text field">
</p>

<h3>Text Area field</h3>
<p>
  <label for="textarea-field">Text Area</label>
  <textarea id="textarea-field" cols="30" rows="10"></textarea>
</p>

<h3>Select field</h3>
<p>
  <select id="">
    <option value="1" default disabled>Choose something</option>
    <option value="2">Something</option>
    <option value="3">Something big</option>
    <option value="4">Something small</option>
    <option value="5">Something with an incredibly large amount of text</option>
    <option value="6">Something amazing</option>
  </select>
</p>

<h3>Phone Field</h3>
<p>
  <label for="phone-field">Phone Field</label>
  <input type="tel" id="phone-field" placeholder="This is a Phone field">
</p>

<h3>Number Field</h3>
<p>
  <label for="number-field">Number Field</label>
  <input type="number" id="number-field" placeholder="This is a Number field">
</p>

<h3>Search Field</h3>
<p>
  <label for="search-field">Search Field</label>
  <input type="search" id="search-field" placeholder="This is a Search field">
</p>

<h3>URL field</h3>
<p>
  <label for="url-field">URL Field</label>
  <input type="search" id="url-field" placeholder="This is a URL field">
</p>

<h3>Upload field</h3>
<p>
  <label for="upload-field">Upload Field</label>
  <input type="file" id="upload-field" placeholder="This is a URL field">
</p>

<h3>Range field</h3>
<p>
  <label for="range-field">Range Field</label>
  <input id="range-field" type="range" min="1" max="100" value="0">
</p>

<h3>Date field</h3>
<p>
  <label for="date-field">Date Field</label>
  <input id="date-field" type="date">
</p>

<h3>Time field</h3>
<p>
  <label for="time-field">Time Field</label>
  <input id="time-field" type="time">
</p>

<h3>Checkbox field</h3>
<p>
  <label for="option-1">
    Checkbox
    <input type="checkbox" id="option-1" value="Option 1">
  </label>
</p>

<h3>Radio buttons</h3>
<p>
  <label for="option-2">
    Radio button 1
    <input type="radio" name="radio-1" id="option-2" value="Option 2">
  </label>
  <label for="option-3">
    Radio button 2
    <input type="radio" name="radio-1" id="option-3" value="Option 3">
  </label>

</p>


<h3>Fieldset</h3>
<fieldset>

  <legend>This is a Fieldset</legend>

  <h3>Radio buttons</h3>
  <p>
    <label for="option-test-1">
      Option test
      <input type="radio" name="radio-2" id="option-test-1" value="Option 2">
    </label>
    <label for="option-test-2">
      Radio button 2
      <input type="radio" name="radio-2" id="option-test-2" value="Option 3">
    </label>
  </p>

</fieldset>


<h3>Submit field</h3>
<p>
  <input type="submit" value="Submit"/>
</p>

<!-- Others -->
<div class="others">
  <h1>Other elements</h1>

  <h2>Details</h2>
  <details>
    <summary>Some details</summary>
    <p>More info about the details.</p>
  </details>

  <h3>Subscript and superscript samples</h3>
  <p>H<sub>2</sub>O, <br/>E = mc<sup>2</sup>, <br/> The 14<sup>th</sup> of September</p>

  <h3>Insertion and deletion samples</h3>
  <p>
    <ins datetime="2009-07-12T08:15:30+02:00"
         title="Added new information according to suggestions">This information was just added.
    </ins>
    <br/>
    <del>Whilte this information is no longer valid.</del>
  </p>

  <h3>Presentational elements</h3>
  <p>
    <b>Bold text</b><br/>
    <i>Italic text</i><br/>
    <tt>Typewriter text</tt><br/>
    <big>Big</big><br/>
    <small>Small</small>
    <br/>
    Horizontal rule:
  </p>
  <hr/>

  <h3>UTF-8 test</h3>
  <p>Ä, ä, Ö, ö, Ü, ü, ß</p>
  <p>Š Ť Ž Ľ Č Ě Ď Ň Ř Ů Ĺ</p>
  <p>ХЦЧШЩЬЫЪЭЮЯ</p>
</div>
